<!DOCTYPE html>
<html>
  <head>
    <title>Localizing the Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      #map-canvas {
        height: 300px;
        margin: 40px;
        
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
        
function initialize(lat,lng) {
  var myLatlng = new google.maps.LatLng(lat,lng);
  var mapOptions = {
    zoom: 12,
    center: myLatlng
  };
  
  
  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
  
   var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: 'Hello World!'
  });   
}

//google.maps.event.addDomListener(window, 'load', initialize);
setTimeout(function() {
    myLat = 25;
    myLong = -80;
    console.log("timeout");
    initialize(myLat,myLong);
},1000);

setTimeout(function() {
    var myLat =25.796549;
    var myLong = -80.275614;
    console.log("timeout2");
    initialize(myLat,myLong);
},3000);
    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>